.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-button {
  margin-top: 20px;
}

.register-link {
  text-align: center;
  margin-top: 10px;

  a {
    text-decoration: none;
    color: var(--ion-color-primary);
    font-weight: bold;
  }
}
