.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

ion-card-header {
  text-align: center;
}

ion-button {
  margin-top: 20px;
}

.login-link {
  text-align: center;
  margin-top: 15px;

  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }
}
