<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="onTabClick($event, 'catalogo')">
      <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onTabClick($event, 'carrito')">
      <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onTabClick($event, 'perfil')">
      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
